<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">s
                <p class="copyright text-muted">Copyright &copy; Wayne Herridge | Scripture Blog</p>
            </div>
        </div>
    </div>
</footer>